body {
    margin: 0;
    padding: 0;
}

article, header, footer {
    display: block;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    border: 1px solid #666;
}

footer {
    text-align: center;
    font-size: x-small;
}

